<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>JEF Castilla-La Mancha</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta property="og:url" content="jefclm.eu" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Jóvenes Europeístas y Federalistas de Castilla-La Mancha" />
  <meta property="og:description" content="Conoce a JEF CLM y únete a nosotros para dar forma a la Unión Europea del futuro." />
  <meta property="og:image" content="https://github.com/blasf1/jefclm/raw/main/assets/img/favicon.png" />
  <meta property="og:locale" content="es_ES" />

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ site.baseurl }}/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Green - v4.5.0
  * Template URL: https://bootstrapmade.com/green-free-one-page-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:castillalamancha@jefspain.eu">castillalamancha@jefspain.eu</a>
        <!--<i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55--!>
      </div>
      <div class="social-links d-none d-md-block">
        <a href="https://twitter.com/jef_clm" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/jef_clm/" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <!-- LOGO -->
      <a href="index.html" class="logo me-auto"><img src="{{ site.baseurl }}/assets/img/JEF_CLM.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ site.baseurl }}/index.html#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="{{ site.baseurl }}/index.html#about">Sobre nosotros</a></li>
          <li><a class="nav-link scrollto" href="{{ site.baseurl }}/index.html#why-us">¿Por qué JEF?</a></li>
          <li><a class="nav-link scrollto" href="{{ site.baseurl }}/index.html#team">Equipo</a></li>
          <li><a class="nav-link scrollto" href="{{ site.baseurl }}/index.html#news">Novedades</a></li>
          <li><a class="nav-link scrollto" href="{{ site.baseurl }}/blog.html">Blog</a></li>
          <!-- <li class="dropdown"><a href="./inner-page.html"><span>Blog</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Artículo 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li> 
            </ul>
          </li>-->
          <li><a class="nav-link scrollto" href="{{ site.baseurl }}/index.html#contact">Contacto</a></li>
          <li><a class="getstarted" href="https://docs.google.com/forms/d/e/1FAIpQLSf9PvLFLoXTRL1n05Jwj-94eIva66plLpPgaeiXFM_v7hCcnw/viewform">¡Únete!</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

{{ content }}

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
          <h3>JEF CLM</h3>
          <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
            <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
          </div>
          <p>Esta página es operada por los Jóvenes Europeístas y Federalistas de Castilla-La Mancha (JEF CLM), inscrita en el registro de asociaciones de
            Castilla-La Mancha con nº 26069 y domicilio en calle Santa Leocadia, 2, 45003, Toledo. Puede contactar con JEF CLM en castillalamancha@jefspain.eu
          </p>
          <a href="{{ site.baseurl }}/privacidad.html">Política de privacidad</a>
        </div>
      </footer><!-- End Footer -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="{{ site.baseurl }}/assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="{{ site.baseurl }}/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.js"></script>
    
      <!-- Template Main JS File -->
      <script src="{{ site.baseurl }}/assets/js/main.js"></script>
    
    </body>
    
    </html>